@page "/home-org/{idUtilizador}/{nome}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<h3>Bem-vindo, @nome!</h3>
<p>IdUtilizador: @idUtilizador</p>

@code {
    [Parameter]
    public string IdUtilizador { get; set; }

    [Parameter]
    public string Nome { get; set; }

    private int idUtilizador;
    private string nome;

    protected override void OnInitialized()
    {
        idUtilizador = Convert.ToInt32(IdUtilizador);
        nome = Nome;
    }
}