@page "/home-par/{idUtilizador}/{nome}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<h3>Bem-vindo, @Nome!</h3>


<button class="btn btn-primary" @onclick="EditarDados">Editar Dados</button>
<button class="btn btn-primary" @onclick="Eventos">Eventos</button>
<button class="btn btn-primary" @onclick="IrParaInscricoes">Inscrições</button>

@code {
    [Parameter]
    public string IdUtilizador { get; set; }

    [Parameter]
    public string Nome { get; set; }

    private int idUtilizador;
    private string nome;

    protected override void OnInitialized()
    {
        idUtilizador = Convert.ToInt32(IdUtilizador);
        nome = Nome;
    }

    private void EditarDados()
    {
        var url = $"/editar-dados/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }

    private void Eventos()
    {
        var url = $"/eventospart/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }
    
    private void IrParaInscricoes()
    {
        var url = $"/inscricoes/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }
}
