@page "/"

@using Microsoft.AspNetCore.Components.Web

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="menu">
    <ul>
        <li><a href="/create-event">Criar Evento</a></li>
        <li><a href="/edit-event">Editar Evento</a></li>
    </ul>
</div>

@code {
    // Resto do código da classe
}
