@page "/inscrever/{eventId}/{idUtilizador}/{nome}"
@using System.Collections.Generic
@using System.Linq
@using BusinessLogic.Entities
@using BusinessLogic.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Ingressos</PageTitle>

<h1>Inscrever em evento</h1>

@if (tiposIngresso != null)
{
    <div class="form-group">
        <label for="tipoIngresso">Tipo de Ingresso:</label>
        <select class="form-control" id="tipoIngresso" @bind="selectedIngressoId">
            @foreach (var ingresso in tiposIngresso)
            {
                <option value="@ingresso.IdIngresso">@ingresso.TipoIngresso</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label for="quantidadeDisponivel">Quantidade Disponível:</label>
        <input class="form-control" type="text" id="quantidadeDisponivel" readonly value="@calcularQuantidadeDisponivel()" />
    </div>
}

<div class="form-group">
    <label for="precoTotal">Preço Total:</label>
    <input class="form-control" type="text" id="precoTotal" readonly value="@calcularPrecoTotal()" />
</div>

<button class="btn btn-primary" @onclick="ComprarIngressos">Inscrever</button>

@code {
    [Parameter]
    public string EventId { get; set; }

    private int eventId;

    [Parameter]
    public string IdUtilizador { get; set; }

    [Parameter]
    public string Nome { get; set; }

    private int idUtilizador;
    private string nome;

    private List<AddEventoIngressoViewModel> ingressos;
    private List<EventoIngresso> tiposIngresso;
    private int selectedIngressoId;

    protected override async Task OnInitializedAsync()
    {
        eventId = int.Parse(EventId);
        idUtilizador = Convert.ToInt32(IdUtilizador);
        nome = Nome;

        // Fetch the list of available ingressos and tiposIngresso from the server
        var eventoIngressos = await HttpClient.GetFromJsonAsync<List<EventoIngresso>>("http://localhost:5052/api/EventosIngressos");

        ingressos = eventoIngressos.Select(ei => new AddEventoIngressoViewModel
        {
            IdIngresso = ei.IdIngresso,
            TipoIngresso = ei.TipoIngresso,
            PrecoString = ei.Preco.ToString(),
            QuantidadeString = string.Empty,
            IdEvento = eventId
        }).ToList();

        tiposIngresso = eventoIngressos;
    }

    private int calcularQuantidadeDisponivel()
    {
        if (tiposIngresso != null)
        {
            var selectedIngresso = tiposIngresso.FirstOrDefault(i => i.IdIngresso == selectedIngressoId);

            if (selectedIngresso != null)
            {
                return (int)selectedIngresso.Quantidade;
            }
        }

        return 0;
    }

    private decimal? calcularPrecoTotal()
    {
        if (ingressos != null)
        {
            var selectedIngresso = ingressos.FirstOrDefault(i => i.IdIngresso == selectedIngressoId);

            if (selectedIngresso != null)
            {
                return selectedIngresso.Preco;
            }
        }

        return null;
    }

    private async Task ComprarIngressos()
    {
        var selectedIngresso = tiposIngresso.FirstOrDefault(i => i.IdIngresso == selectedIngressoId);

        if (selectedIngresso != null)
        {
            var updateUrl = $"http://localhost:5052/api/EventosIngressos/{selectedIngresso.IdIngresso}";
            selectedIngresso.Quantidade -= 1;
            await HttpClient.PutAsJsonAsync(updateUrl, selectedIngresso);

            var inscricaoEvento = new InscricaoEvento
            {
                TipoIngresso = selectedIngresso.TipoIngresso,
                IdEvento = eventId,
                IdParticipante = idUtilizador
            };

            var response = await HttpClient.PostAsJsonAsync("http://localhost:5052/api/InscricaoEventos", inscricaoEvento);

            if (response.IsSuccessStatusCode)
            {
                // Ingresso comprado com sucesso
                // Redirecione para uma página de confirmação ou faça alguma ação adicional
                NavigationManager.NavigateTo("/confirmacao-ingresso");
            }
            else
            {
                // Falha ao comprar o ingresso
                // Exiba uma mensagem de erro ou faça alguma ação de tratamento de erro
            }
        }
    }
}


