@page "/home-usermanager/{idUtilizador}/{nome}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<h3>Bem-vindo, @nome!</h3>

<div class="button-group">
    <button class="btn btn-primary narrow-button" @onclick="RedirectToEvents">Eventos</button>
    <button class="btn btn-primary narrow-button" @onclick="RedirectToUtilizadores">Utilizadores</button>
    <button class="btn btn-primary narrow-button" @onclick="RedirectToParticipants">Participantes</button>
    <button class="btn btn-primary narrow-button" @onclick="IrParaNotificacoes">Notificações</button>
    <button class="btn btn-danger narrow-button" @onclick="Logout">Logout</button>
</div>

@code {
    [Parameter]
    public string IdUtilizador { get; set; }

    [Parameter]
    public string Nome { get; set; }

    private int idUtilizador;
    private string nome;

    protected override void OnInitialized()
    {
        idUtilizador = Convert.ToInt32(IdUtilizador);
        nome = Nome;
    }

    private void RedirectToEvents()
    {
        var url = $"/usermanevents/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }

    private void RedirectToParticipants()
    {
        var url = $"/usermanparticipantes/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }

    private void RedirectToUtilizadores()
    {
        var url = $"/usermanutilizadores/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url);
    }
    
    private void IrParaNotificacoes()
    {
        var url = $"/usermannotificacoes/{idUtilizador}/{Uri.EscapeDataString(nome)}";
        NavigationManager.NavigateTo(url); 
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/login");
    }
}

<style>
    .button-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .narrow-button {
        width: 150px;
    }
</style>